<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="davjs3000">
                    <match url=".*" />
                    <conditions>
                        <add input="{SERVER_PORT}" pattern="443" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:3000/{R:0}" />
                </rule>
                <rule name="API http">
                    <match url="api/(.*)" />
                    <action type="Rewrite" url="http://10.0.0.70:3002/api/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
